mixin sStartSection()
	// start sStartSection
	+b.MAIN.sStartSection.section#sStartSection&attributes(attributes) 
		.container 

				+e.col
					.form-wrap.tabs
						.tabs__caption
							.tabs__btn.active Вход для сотрудника
							.tabs__btn Вход для организации
						.tabs__wrap
							.tabs__content.active 
								form#w0(action='/site/org-login' method='post')
									input(name='_csrf' type='hidden' value='1ijJa7VsTa4crdIj1dozF0qaiDW9Rlucvzl6aDyuIEjlX6wg7zV62XHF5GCarwt-BcjwQ-0OAv_UVz4GX8BYDQ==' wfd-id='id0')
									.form-group.field-employerloginform-email.required.has-error
										//- label.control-label(for='employerloginform-email') E-mail
										input#employerloginform-email.form-control(name='EmployerLoginForm[email]' type='text' aria-invalid='true' aria-required='true' wfd-id='id1' placeholder="E-mail")
										.help-block Значение «E-mail» не является правильным email адресом. 
									.form-group.field-employerloginform-password.required
										//- label.control-label(for='employerloginform-password') Пароль
										input#employerloginform-password.form-control(name='EmployerLoginForm[password]' type='text' aria-required='true' wfd-id='id2'  placeholder="Пароль")
										.help-block 
									button.form-wrap__btn.btn-success(type='submit') Войти
								
							.tabs__content
								form#w1(action='/site/org-login' method='post')
									input(name='_csrf' type='hidden' value='1ijJa7VsTa4crdIj1dozF0qaiDW9Rlucvzl6aDyuIEjlX6wg7zV62XHF5GCarwt-BcjwQ-0OAv_UVz4GX8BYDQ==' wfd-id='id3')
									.form-group.field-organizationloginform-inn.required 
										input#organizationloginform-inn.form-control(name='OrganizationLoginForm[inn]' type='text' aria-required='true' wfd-id='id4' placeholder='ИНН')
										.help-block
									.form-group.field-organizationloginform-password.required 
										input#organizationloginform-password.form-control(name='OrganizationLoginForm[password]' type='text' aria-required='true' wfd-id='id5'  placeholder='Пароль')
										.help-block 
									button.form-wrap__btn.btn-success(type='submit') Войти

	// end sStartSection
mixin sStartSection1(t='Начните заполнение данных в форме М1')
	// start sStartSection
	+b.MAIN.sStartSection.section#sStartSection&attributes(attributes) 
		.container 
			.row.align-items-center
				+e.col.col.d-flex.flex-column
					+b.form-wrap
						+e.body
							.h3.strong.pb-5= t
							+e.btn.btn-success(href="#") Начать заполнение  
				+e.col.col-md-auto
					+e.text-block.text-white.mb-auto 
						p Давно выяснено, что при оценке дизайна и&nbsp;композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает
						ul.small
							li более или менее стандартное 
							li заполнение шаблона, а&nbsp;также реальное распределение букв и&nbsp;пробелов 
							li в&nbsp;абзацах, которое не&nbsp;получается 
							li при простой дубликации &laquo;Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст..&raquo; 
							li Многие программы электронной вёрстки и&nbsp;редакторы HTML используют Lorem Ipsum
						a.btn.btn-outline-white.btn-block(href="#") Скачать инструкцию
	// end sStartSection
mixin sStartSection3(t='Начните заполнение данных в форме М1')
	// start sStartSection
	+b.MAIN.sStartSection.section#sStartSection&attributes(attributes) 
		.container 
			.row.align-items-center.justify-content-center
				+e.col.col-auto
					+b.form-wrap
						+e.body
							.h3.strong Спасибо ваша форма принята к&nbsp;рассмотрению, результат проверки мы&nbsp;вышлем на&nbsp;вашу почту
							a.h6.text-body(href="#") Начать заполнение  
			 
	// end sStartSection