mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container-fluid
			.row
				.col.small © 2020. Росмолодежь
				.col-sm-auto
					a.strong(href="tel:88005698899") 8 800 569 88 99
				.col-sm-auto
					a.strong(href="mailto:sample@sample.com") sample@sample.com
