.container-fluid{
	margin-left: auto;
	margin-right: auto;
	max-width: 1150px;
}
body.btn-success{

	.footer{
		.container-fluid{

			padding-right: 15px;
		}
		max-width: none;
	}
}

.footer {
	.container-fluid{
	@include media-breakpoint-up(lg){

		padding-right: calc(var(--asideW) + 30px);
	}
	}
	padding-top: rem(24);
	padding-bottom: rem(12);
	margin-top: auto;
	.row{
		> * {
			padding-bottom: rem(12);
		}
	}
		a{
			color: $body-color !important;
		}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

 

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}


 .bg-success {
	.footer {
		color: #ffffff;

		a {
			color: #ffffff !important;
		}
	}
}