
	// start .sAside
	.sAside {
		border-left: 1px solid #EAEEEF;
		border-right: none;
		z-index: 9999;
			.toggle-menu-mobile {
				// position: relative;
				cursor: pointer;
				margin-left: -15%;
				position: absolute;
				opacity: 0;
				left: 0;
				right: auto;
				color: #FFF;
				top: 10px;
				z-index: 9999;
				background-color: transparent;

				span,
				span:after,
				span:before {
					background-color: #FFF;
				}

				&.on {
					opacity: 1;

					span {
						background-color: transparent;
					}
				}
			}
		// position: sticky;
		@include media-breakpoint-up(lg) {
			
			position: absolute;
			height: calc(100% + #{rem(72)});
		}
		&__inner { 
			 overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: 100%;
		}
		@include media-breakpoint-down(md) {
			transform: translate(120%, 0);
			height: 100vh;
			@include mt(.6);
				&.active {
					transform: translate(0, 0);

					.toggle-menu-mobile {
						opacity: 1;
					}
				}
		}
		position: fixed;
		@include media-breakpoint-up(xl) {

			width: calc(var(--asideW) + (100vw - 1150px) / 2);
		}
		width: calc(var(--asideW));
		top: 0;
		right: 0;
		height: auto;
		background-color: #ffffff; 
		
		&__group,
		&__head{
			padding: rem(15) rem(25);
			position: relative;
			max-width: rem(290);
			&:not(:last-child)::after{
				content: '';
				position: absolute;
				left: 0;
				width: 200vw;
				height: 1px;
				bottom: 0;
				border-bottom: 1px solid #EAEEEF;
			}

		}
		&__head{
			min-height: rem(60);
			display: flex;
			justify-content: center;
		}
		&__group{
			padding: rem(17) rem(25);

		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sAside