
	// start .sTable
	.sTable {
		flex-grow: 1;
		position: relative;
		// overflow-x: auto;
		overflow-y: hidden;
		p,
		.strong{
		 position: relative;
		 z-index: 3;
		}
		&__head{
			padding-right: 20px;
			position: sticky;
			top: 0;
			left: 0;
			background-color: #ffffff;
			z-index: 200;
			// top: rem(43);
			// position: relative;
			&::before{
				content: '';
				position: absolute;
				right: 0;
				width: 200vw;
				opacity: 0.1;
				/* gray4 */
				height: 1px;
				background-color:   #495057;
				bottom: 0;
		
			}
		} 
			@include media-breakpoint-up(lg){ 
				margin-right: calc(var(--asideW) - 5px);
			}

		
		.row{
			// --bs-gutter-x: 12px;
			@include roww(8px);
		}
		&__inner{ 
			min-width: rem(830);
			
		}
		&__body{ 
			padding-right: 20px;
			.col-top{
				padding-top: rem(16);

			}
	p {
		margin-bottom: rem(10);
	}
		}
		&__th{
			font-size: rem(12);
			padding-top: rem(12);
			padding-bottom: rem(13);
		}
		&__td{
			position: relative;
			.form-control{
				padding-right: rem(35);
			}
		}
		&__after-text{
			position: absolute;
			right: rem(15);
			font-size: rem(14);
			top: rem(5);
			opacity: 0.3;
		}
		&__tr{

		}
		&__group-tr{
			padding-bottom: rem(36);
			position: relative;
			z-index: 2;
		}

		 &__col {
		 	width: 140px;

		 	.form-group {
				 position: relative;
				//  width: rem(111);
				 margin-left: auto;
		 	}
		 }
		
		@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sTable

.sTable-footer{
	@include media-breakpoint-up(lg) {

		margin-right: calc(var(--asideW) - 15px);
	}
}
.sTable-btn {
	@extend .btn; 
	position: relative;
	z-index: 5;
	// @extend .btn-block;
	@include media-breakpoint-up(lg) {

		width: rem(160); 
		margin-right: rem(30);
	}
	margin-top: rem(30);
	margin-bottom: var(--sPB);
}
.col--hover,
.sTable__th,
.sTable__td {
	@include mt;
	// padding-bottom: 50px;
	position: relative;
	z-index: 2;
	&::before{
		content: '';
		top: 0;
		// @include a-cent(y);
		position: absolute;
		left: 0;
		width: 100%;
		background-color: #DBF0F1;
		@include mt;
		height: 100%;
		z-index: -1;
		opacity: 0;
		// pointer-events: none;
	}

	&.bg-hover{
		&::before{

			opacity: 1;
		}
	}
}
	.sTable__td {
		&::before {

			height: 500px;
			top: 0;
		}
	}
	.z5{
		position: relative;
		z-index: 5;
	}