extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sStartSection/_sStartSection.pug

block variables
	- let  mainPage= 'bg-success'
block title
	- let  title= 'Начните заполнение данных в форме М1'
	title= title
block pagecontent
	+topLine()
	+sStartSection1("Ваша форма была отправлена на доработку внесите изменения")
	+footer()


	