.top-nav {
	padding-top: rem(8);
	padding-bottom: rem(8);
	background: #EBEEEF;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
 
	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}

.navMenu{
	display: flex;
	list-style: none;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: rem(-8);
	@include media-breakpoint-up(md) {

		&--row{
			@include roww(rem(10));
			flex-wrap: wrap;
		}
	}
	&__item{

		width: auto;
		margin-top: rem(8);
	}
	&__link{
		font-size: rem(14);
		font-weight: bold;
		padding: rem(3) rem(10);
		color: #ffffff !important;
		text-decoration: none !important;
		display: block;
		background: #ACB5BD;
		border-radius: 4px;
		&:hover,
		&.active{
			background-color: $success;
		}
	}
}

.nav-slider{
	overflow: visible;
}